.contact {
  background: linear-gradient(#000000a2, #000000a2), url('../../assets/images/per-gouras-02.jpg');
  background-size: cover;
  background-position: center 35%;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 980px; 
  display: flex;
}

.details {
  max-width: 200px;
  margin: 2rem;
}

.detailsText {
  font-weight: bold;
  margin: 0;
}

.form {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.button {
  /* position: relative; */
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background: #00000055;
  margin: 0 auto 1rem auto;
  padding: 0.5rem 3rem;
  color: #ffffff;
  transition: all 250ms linear;
}

.button:hover {
  background: #000000a1;
  box-shadow: 0 0 5px #ffffff;
}

.loader {
  position: absolute;
  animation: spin-loader infinite 0.75s linear;
}

@keyframes spin-loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.formSuccess {
  text-align: center;
  width: 100%;
  color: #81f177;
  background: #8cc78c76;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border: 1px solid #81f177;
  border-radius: 5px;
  opacity: 0.8;
}

.formFailure {
  text-align: center;
  width: 100%;
  color: #df4242;
  background: #db868676;
  margin: 0 auto;
  padding: 0.25rem 1rem;
  border: 1px solid #df4242;
  border-radius: 5px;
  opacity: 0.8;
}

.divider {
  width: 100%;
  height: 4px;
  background: #ffffff;
  margin-bottom: 1rem;
}

.icons {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icons a {
  margin: 0.8rem;
  opacity: 0.85;
}

.icons a:hover {
  opacity: 1.0;
}

@media (max-width: 650px) {
  .contact {
    padding-top: 5rem;
  }
  .container {
    flex-direction: column;
  }

  .details {
    max-width: 100%;
  }
}
