@font-face {
  font-family: southland;
  src: url('./assets/fonts/southlandjfregular.ttf');
}

body {
  background-color: #212529;
  color: #ffffff;
}

h1 {
  font-family: southland;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.contactFormInputBlock label {
  font-weight: bold;
}

.contactFormInputBlock input,
.contactFormInputBlock textarea {
  background: rgba(0,0,0,0.5);
  border: none;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 5px;
}

.contactFormInputBlock input:focus,
.contactFormInputBlock textarea:focus {
  outline: none;
  background: rgba(0,0,0,0.6);
}
